body {
    background-color: #666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color: white;
    margin: auto;
    text-align: center;
    padding: 15px;
}

footer {
    color: white;
    margin: auto;
    text-align: center;
    padding: 15px;
    font-style: italic;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    max-width: 70%;
    min-width: 500px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

section div {
    margin: auto;
    text-align: center;
}

input {
    padding: 20px;
}